<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ePO.Endpoint.Deployment.Kit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ePO.Endpoint.Deployment.Kit.Properties.Settings>
            <setting name="OSTypes" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;OSTypes&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows (All Versions)&lt;/Name&gt;
    &lt;Type&gt;W2KW|WXPHE|WXPW|WXPE|WVST|WNT7W|W2KS|W2KAS|W2KDC|WXPS|WVSTS|WIN8W|WIN8S|WINXW|WINXS&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows 2000 Workstation&lt;/Name&gt;
    &lt;Type&gt;W2KW&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows XP&lt;/Name&gt;
    &lt;Type&gt;WXPHE|WXPW&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows XP Embedded&lt;/Name&gt;
    &lt;Type&gt;WXPE&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows Vista&lt;/Name&gt;
    &lt;Type&gt;WVST&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows 7&lt;/Name&gt;
    &lt;Type&gt;WNT7W&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows 8&lt;/Name&gt;
    &lt;Type&gt;WIN8W&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows 10&lt;/Name&gt;
    &lt;Type&gt;WINXW&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows Server 2000&lt;/Name&gt;
    &lt;Type&gt;W2KS|W2KAS|W2KDC&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows Server 2003&lt;/Name&gt;
    &lt;Type&gt;WXPS&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows Server 2008&lt;/Name&gt;
    &lt;Type&gt;WVSTS&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows Server 2012&lt;/Name&gt;
    &lt;Type&gt;WIN8S&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Windows 10 Server&lt;/Name&gt;
    &lt;Type&gt;WINXS&lt;/Type&gt;
    &lt;Selected&gt;true&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Macintosh&lt;/Name&gt;
    &lt;Type&gt;MAC&lt;/Type&gt;
    &lt;Selected&gt;false&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Linux&lt;/Name&gt;
    &lt;Type&gt;LINUX&lt;/Type&gt;
    &lt;Selected&gt;false&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;AIX&lt;/Name&gt;
    &lt;Type&gt;AIX&lt;/Type&gt;
    &lt;Selected&gt;false&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;HP-UX&lt;/Name&gt;
    &lt;Type&gt;HPUX|HPIA&lt;/Type&gt;
    &lt;Selected&gt;false&lt;/Selected&gt;
  &lt;/OSType&gt;
  &lt;OSType&gt;
    &lt;Name&gt;Solaris&lt;/Name&gt;
    &lt;Type&gt;SLR&lt;/Type&gt;
    &lt;Selected&gt;false&lt;/Selected&gt;
  &lt;/OSType&gt;
&lt;/OSTypes&gt;

</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value>SAMPLAPP</value>
            </setting>
            <setting name="ProductID" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ProductVersion" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="ProductDescription" serializeAs="String">
                <value>Sample Application</value>
            </setting>
            <setting name="InstallCommand" serializeAs="String">
                <value>setup.exe</value>
            </setting>
            <setting name="DetectionValue" serializeAs="String">
                <value>EEDK</value>
            </setting>
            <setting name="RebootReturnCode" serializeAs="String">
                <value>3010</value>
            </setting>
            <setting name="BuildFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="MCSTemplate" serializeAs="String">
                <value>;*********************************
;Torry Campbell McAfee Inc.
;August 2010
;August 2011: e^2

;All rights reseverved
;*********************************

[InitializeVariables]
SetGlobal       gPointProductDetectionKey = $CUSTOMPRODDETKEY$
SetGlobal       gPointProductDetectionValue = $CUSTOMPRODDETVAL$
SetGlobal       gPointProductLocationKey = $CUSTOMPRODLOCKEY$
SetGlobal       gPointProductLocationValue = $CUSTOMPRODLOCVAL$
SetGlobal       gCustomUninstallString = $CUSTOMUNINSTALL$
SetGlobal       INSTALLED = 1
SetGlobal       NOTINSTALLED = 0
SetGlobal       UpdateError = -1
SetGlobal       REBOOT_NOW = 0

[ScriptMain]
ReportStatus    Called ScriptMain
Call            InitializeVariables
Return          %%INSTALLED%%

[IsProductInstalled]
Call            InitializeVariables
FindRegValue    bRet = %%gPointProductDetectionKey%%, %%gPointProductDetectionValue%%
SetGlobal       gInstalledProductProduct = FALSE
ReturnIf        %%bRet%% == FALSE, %%NOTINSTALLED%%
SetGlobal       gInstalledProductProduct = %%szPointProductName%%
Return          %%INSTALLED%%

[GetUninstallCommand]
Call            bRet = IsProductInstalled
ReturnIf        %%bRet%% == %%NOTINSTALLED%%, %%NOTINSTALLED%%
SetGlobal       gProductUninstallCommand = %%gCustomUninstallString%%
Return          %%INSTALLED%%

[GetInstalledLanguage]
SetGlobal       gPointProductInstalledLanguage = FFFF
Call            bRet = IsProductInstalled
ReturnIf        %%bRet%% == %%NOTINSTALLED%%, %%NOTINSTALLED%%
SetGlobal       gPointProductInstalledLanguage = 0000
Return          %%INSTALLED%%

[GetUninstallRebootReturnCode]
Call            bRet = IsProductInstalled
ReturnIf        %%bRet%% == %%NOTINSTALLED%%, %%NOTINSTALLED%%
SetGlobal       gRebootReturnCode = 3010
Return          %%INSTALLED%%

[GetInstallDirectory]
SetGlobal       gPointProductInstallationDirectory = UNKNOWN
Call            bRet = IsProductInstalled
ReturnIf        %%bRet%% == %%NOTINSTALLED%%, %%NOTINSTALLED%%
Set             RegKeyToFind = %%gPointProductLocationKey%%
Call            bRet = DoesRegKeyExist
ReturnIf        %%bRet%% == FALSE, %%NOTINSTALLED%%
Set             szValue = %%gPointProductLocationValue%%
FindRegValue    bRet = %%RegKeyToFind%%, %%szValue%%
ReturnIf        %%bRet%% == FALSE, FALSE
GetRegValue     InstallDirectory = %%RegKeyToFind%%, %%szValue%%
ReturnIf        %%InstallDirectory%% == FALSE, %%NOTINSTALLED%%
SetGlobal       gPointProductInstallationDirectory = %%InstallDirectory%%
Return          %%INSTALLED%%</value>
            </setting>
            <setting name="SourcePackages" serializeAs="String">
                <value/>
            </setting>
            <setting name="File" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UninstallCommand" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveSettingsOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Standard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Advanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ePOServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="ePOUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="ePOPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="ePOProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ePOTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ePOBranch" serializeAs="String">
                <value>Current</value>
            </setting>
            <setting name="ePOOption" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LastUsedFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="ePOOverwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ePOUnsigned" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ePOPackage" serializeAs="String">
                <value/>
            </setting>
            <setting name="ePOTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>.\EEDK.log</value>
            </setting>
            <setting name="DetectionKey" serializeAs="String">
                <value>HKLM\Software\McAfee\EEDK</value>
            </setting>
            <setting name="LocationKey" serializeAs="String">
                <value>HKLM\Software\McAfee\EEDK</value>
            </setting>
            <setting name="LocationValue" serializeAs="String">
                <value>EEDK</value>
            </setting>
        </ePO.Endpoint.Deployment.Kit.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
